.gallery{
	line-height:1.5rem;
	margin: auto;
	padding-bottom:4rem;
	color:#010D1E;
	max-width:75%;
	opacity:1;
}


.gallery-grid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.gallery-grid figure {
	border: 0;
	margin: 0 0 30px;
	display: block;
	width: 80%;
	aspect-ratio: 1/ 1;
	opacity: 1;
}
.gallery-grid figure:hover {
	opacity: 0.7;
}
@media (min-width:0px) and (max-width:430px){
	.gallery-grid figure{margin: 0 0 10px;}
}
@media (min-width:430px) and (max-width:650px){
	.gallery-grid figure{margin: 0 0 20px;}
}
@media (min-width:650px) and (max-width:750px){

}


.gallery-grid figure > picture > img {
	width: 100%;
	height:100%;
	object-fit: cover;
	cursor: pointer;
}


