* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

h4 {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper-header {
    width: 100%;
}


.wrapper-body {
    width: 100%;
}

.header-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 50px 20px 50px
}
